/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* line 12, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 17, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
html {
  font-size: 62.5%;
}

@media (max-width: 1300px) {
  /* line 17, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
  html {
    font-size: 58%;
  }
}

@media (max-width: 990px) {
  /* line 17, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 420px) {
  /* line 17, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
  html {
    font-size: 58%;
  }
}

/* line 31, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
html,
body {
  overflow-x: hidden;
}

/* line 36, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_reset.scss */
button {
  background-color: transparent;
  cursor: pointer;
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_grid.scss */
.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 1.5rem;
  margin: 0 auto;
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
h1 {
  font-weight: 600;
  font-size: 6.4rem;
}

@media (max-width: 1150px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
  h1 {
    font-size: 4rem;
  }
}

/* line 13, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
h2 {
  font-weight: bold;
  font-size: 4rem;
}

/* line 18, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
h3 {
  font-size: 2.4rem;
  line-height: 150%;
  font-weight: 600;
}

/* line 24, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
h4 {
  font-size: 2rem;
  line-height: 112%;
}

/* line 29, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
h1,
h2 {
  line-height: 112%;
  letter-spacing: -1px;
}

/* line 35, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
h3,
h4 {
  font-weight: 500;
  letter-spacing: -0.5px;
}

/* line 41, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_titles.scss */
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: #4e4b59;
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_components.scss */
.card-depoimento {
  width: 100%;
  max-width: 38.4rem;
  height: 20.9rem;
  background-color: rgba(241, 240, 245, 0.55);
  border-radius: 0.8rem;
  padding: 3.7rem 3.2rem 2.3rem 3.2rem;
}

/* line 8, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_components.scss */
.card-depoimento .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.1rem;
}

/* line 11, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_components.scss */
.card-depoimento .user strong {
  display: block;
  font-family: "Poppins, sans-serif";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 112%;
  letter-spacing: -0.1rem;
  color: #4e4b59;
}

/* line 21, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_components.scss */
.card-depoimento p {
  font-size: 1.8rem;
  line-height: 150%;
  color: #5f5c6b;
}

@media (max-width: 1000px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_components.scss */
  .card-depoimento {
    height: 25.3rem;
  }
}

@media (max-width: 325px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_components.scss */
  .card-depoimento {
    height: 31.3rem;
  }
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_buttons.scss */
.btn-primary {
  background-color: #ffc800;
  color: #855b35;
  transition: all 0.3s;
}

/* line 5, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_buttons.scss */
.btn-primary:hover {
  background-color: #ffdc5c;
}

/* line 9, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_buttons.scss */
.btn-secondary {
  border: 1px solid #00a5f0;
  background-color: transparent;
  color: #00a5f0;
}

/* line 13, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_buttons.scss */
.btn-secondary:hover {
  background-color: #00a5f0;
  color: #ffffff;
}

/* line 19, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_buttons.scss */
.btn-tertiary {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

/* line 23, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_buttons.scss */
.btn-tertiary:hover {
  border: 1px solid #00d7d7;
  background-color: #ffffff;
  color: #00d7d7;
}

/* line 30, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_buttons.scss */
.btn-primary,
.btn-secondary,
.btn-tertiary {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 0 2.6rem;
  border-radius: 12.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 4.8rem;
  text-align: center;
  transition: all 0.3s;
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.8rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* line 9, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 12, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header nav {
  display: flex;
  align-items: center;
}

/* line 15, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header nav ul {
  display: flex;
  align-items: center;
  margin-right: 5.9rem;
}

/* line 20, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header nav ul li:not(:first-child) {
  margin-left: 4.8rem;
}

/* line 23, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  text-align: right;
  color: #ffffff;
  transition: all 0.3s;
}

/* line 31, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header nav ul li a:hover {
  color: #ffc800;
}

/* line 39, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
header .btn-mobile {
  display: none;
  margin-left: 4rem;
}

@media (max-width: 1110px) {
  /* line 46, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
  header nav ul {
    margin-right: 3rem;
  }
  /* line 49, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
  header nav ul li:not(:first-child) {
    margin-left: 2.5rem;
  }
}

@media (max-width: 991px) {
  /* line 58, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
  header .logo {
    max-width: 10.8rem;
  }
  /* line 62, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
  header nav ul {
    display: none;
  }
  /* line 66, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
  header .btn-mobile {
    display: block;
  }
}

@media (max-width: 500px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
  header {
    height: 7.3rem;
  }
  /* line 74, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_header.scss */
  header nav .btn-tertiary {
    display: none;
  }
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer {
  background-color: #0073ce;
  padding-top: 4.9rem;
}

/* line 4, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container {
  padding-bottom: 0;
}

/* line 7, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(73, 196, 253, 0.2);
  padding-bottom: 4.8rem;
  margin-bottom: 5.7rem;
}

/* line 12, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .top .share {
  display: flex;
  align-items: center;
}

/* line 15, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .top .share span {
  font-size: 1.4rem;
  line-height: 125%;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}

/* line 21, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .top .share ul {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

/* line 26, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .top .share ul li:not(:first-child) {
  margin-left: 3rem;
}

/* line 34, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(73, 196, 253, 0.2);
  padding-bottom: 6.2rem;
  margin-bottom: 3.9rem;
}

/* line 39, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 86rem;
}

/* line 44, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main nav .item strong {
  display: inline-block;
  margin-bottom: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 125%;
  color: #ffffff;
}

/* line 55, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main nav .item ul li:not(:last-child) {
  margin-bottom: 2.9rem;
}

/* line 58, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main nav .item ul li a {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
}

/* line 68, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main .btns {
  width: 100%;
  max-width: 28rem;
}

/* line 71, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main .btns button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.6rem;
  padding-left: 2.5rem;
  background-color: rgba(0, 164, 240, 0.23);
  border-radius: 0.6rem;
}

/* line 79, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main .btns button:not(:last-child) {
  margin-bottom: 2.4rem;
}

/* line 82, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main .btns button .info {
  margin-left: 2.4rem;
}

/* line 84, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main .btns button .info strong {
  display: block;
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 150%;
  color: #ffffff;
}

/* line 92, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .main .btns button .info span {
  display: block;
  text-align: left;
  font-size: 1.4rem;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
}

/* line 103, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .msg {
  display: flex;
  align-items: flex-start;
  border-bottom: 4px solid #ffc800;
  padding-bottom: 3.4rem;
}

/* line 108, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .msg .icon {
  font-size: 1.8rem;
}

/* line 111, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
footer .container .msg p {
  width: 100%;
  max-width: 66rem;
  margin-left: 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1060px) {
  /* line 126, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main nav {
    max-width: 76rem;
  }
}

@media (max-width: 1000px) {
  /* line 135, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main {
    width: 100%;
    max-width: 100%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 9rem;
    padding-bottom: 6rem;
    margin-bottom: 1.5rem;
  }
  /* line 144, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main nav {
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* line 149, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main nav .item {
    width: 100%;
    max-width: 33%;
    margin-bottom: 5rem;
  }
  /* line 155, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns {
    position: absolute;
    bottom: 14rem;
    right: 8rem;
  }
  /* line 161, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .msg {
    flex-direction: column;
    align-items: center;
  }
  /* line 164, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .msg p {
    margin-left: 0;
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media (max-width: 900px) {
  /* line 176, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns {
    right: 5rem;
  }
}

@media (max-width: 800px) {
  /* line 185, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main {
    padding-left: 0;
  }
  /* line 187, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns {
    right: 0;
  }
}

@media (max-width: 600px) {
  /* line 197, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns {
    width: 20.5rem;
  }
  /* line 199, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns button {
    padding-left: 0;
  }
  /* line 201, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns button img {
    display: none;
  }
  /* line 204, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns button .info {
    width: 100%;
    margin: 0;
  }
  /* line 207, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns button .info strong,
  footer .container .main .btns button .info span {
    text-align: center;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  /* line 221, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .top {
    flex-direction: column;
    padding-bottom: 0;
  }
  /* line 224, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .top img {
    margin-bottom: 4rem;
  }
  /* line 227, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .top .share {
    flex-direction: column;
    justify-content: center;
  }
  /* line 230, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .top .share span {
    font-size: 2rem;
  }
  /* line 233, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .top .share ul {
    margin: 4rem 0;
  }
  /* line 237, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .top .share ul li a img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 0;
  }
  /* line 248, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main nav {
    padding-left: 5.5rem;
  }
  /* line 250, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main nav .item {
    max-width: 50%;
    margin-bottom: 5.3rem;
  }
  /* line 255, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns {
    width: 100%;
    max-width: 100%;
    position: relative;
    bottom: 0;
  }
  /* line 260, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main .btns button {
    justify-content: center;
  }
}

@media (max-width: 460px) {
  /* line 271, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main nav {
    padding-left: 3.5rem;
  }
}

@media (max-width: 380px) {
  /* line 281, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_footer.scss */
  footer .container .main nav {
    padding-left: 0;
  }
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero {
  width: 100%;
  height: 78.6rem;
  background: url(../img/background/bg-hero.svg) no-repeat center center;
  padding-top: 17.5rem;
}

/* line 6, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* line 9, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .text {
  width: 100%;
  max-width: 68.4rem;
}

/* line 12, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .text h3 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

/* line 17, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .text h1 {
  color: #ffffff;
  margin-bottom: 3.9rem;
}

/* line 21, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .text ul {
  width: 100%;
  max-width: 62.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6.4rem;
}

/* line 28, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .text ul li {
  display: flex;
  align-items: center;
}

/* line 31, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .text ul li .icon {
  width: 6.8rem;
  height: 4.8rem;
  background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
}

/* line 43, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .text ul li span {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ffffff;
}

/* line 51, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .area-image {
  width: 100%;
  max-width: 70.6rem;
  margin-right: -17.4rem;
}

/* line 55, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .area-image h2 {
  margin-bottom: 6.7rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.4;
  font-weight: 600;
}

/* line 62, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .area-image .image {
  position: relative;
  width: 100%;
  height: 54.1rem;
  top: 3.5rem;
}

/* line 67, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .area-image .image img {
  position: absolute;
}

/* line 70, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .area-image .image .card-front {
  max-width: 43.5rem;
  top: 4.1rem;
  left: 0;
  z-index: 2;
  animation: floating 6s infinite;
}

/* line 77, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .area-image .image .card-back {
  max-width: 35.2rem;
  bottom: 4.6rem;
  right: 8.676rem;
  z-index: 1;
  animation: floating 8s infinite;
}

/* line 84, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
.s-hero .area-image .image .circle-card {
  max-width: 55.3rem;
  top: 2.8rem;
  right: 4.3rem;
}

@media (max-width: 1440px) {
  /* line 92, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image {
    margin-right: -13.4rem;
  }
  /* line 94, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image h2 {
    margin-bottom: 4.7rem;
  }
}

@media (max-width: 1366px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    height: 71.6rem;
  }
  /* line 102, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image {
    margin-right: -8rem;
  }
  /* line 104, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image h2 {
    margin-bottom: -1.3rem;
  }
  /* line 108, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    right: 4rem;
  }
}

@media (max-width: 1280px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    height: 71.6rem;
  }
  /* line 119, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    bottom: 2.6rem;
  }
}

@media (max-width: 1150px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    padding-top: 14.5rem;
    height: 61.6rem;
  }
  /* line 130, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .text ul {
    margin-top: 2.5rem;
  }
  /* line 134, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image {
    margin-right: -3rem;
  }
  /* line 136, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image h2 {
    margin-bottom: 1.5rem;
  }
  /* line 139, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image {
    height: 45rem;
  }
  /* line 141, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-front {
    top: 0.1rem;
    left: 5.5rem;
    max-width: 35rem;
  }
  /* line 146, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    max-width: 29rem;
  }
  /* line 149, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    top: -0.2rem;
    max-width: 46rem;
  }
}

@media (max-width: 991px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    height: 89.1rem;
    background-size: cover;
  }
  /* line 161, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .container {
    flex-direction: column;
    align-items: center;
  }
  /* line 166, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    max-width: 100%;
  }
  /* line 170, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .text h3 {
    text-align: center;
  }
  /* line 173, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .text h1 {
    text-align: center;
  }
  /* line 180, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-front {
    max-width: 26rem;
    top: -2.9rem;
    left: 15.5rem;
  }
  /* line 185, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    max-width: 22rem;
    right: 18.5rem;
    bottom: 18.6rem;
  }
  /* line 190, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    max-width: 33rem;
    top: -3.2rem;
    right: 18.3rem;
  }
}

@media (max-width: 600px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    height: 94.1rem;
  }
  /* line 203, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-front {
    left: 7.5rem;
  }
  /* line 206, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    right: 12.5rem;
  }
  /* line 209, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    right: 12.3rem;
  }
}

@media (max-width: 500px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    padding-top: 10.5rem;
    height: 99.1rem;
  }
  /* line 220, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .text ul {
    flex-direction: column;
  }
  /* line 226, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-front {
    left: 2.5rem;
  }
  /* line 229, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    right: 7.5rem;
  }
  /* line 232, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    right: 7.3rem;
  }
}

@media (max-width: 480px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    height: 96.1rem;
  }
  /* line 243, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .text ul li .icon {
    width: 4.8rem;
  }
  /* line 252, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    right: 6.3rem;
  }
}

@media (max-width: 450px) {
  /* line 262, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-front {
    max-width: 24rem;
    left: 1.5rem;
  }
  /* line 266, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    max-width: 21rem;
    right: 6.5rem;
    bottom: 19.6rem;
  }
}

@media (max-width: 420px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    height: 93.1rem;
  }
  /* line 279, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-front {
    max-width: 22rem;
    left: 3.5rem;
  }
  /* line 283, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    max-width: 20rem;
    right: 7.5rem;
    bottom: 21.6rem;
  }
  /* line 288, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    max-width: 27rem;
    right: 7.3rem;
  }
}

@media (max-width: 375px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero {
    height: 101.1rem;
  }
  /* line 299, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image h2 {
    text-align: left;
    font-size: 3.8rem;
  }
  /* line 304, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-front {
    max-width: 22rem;
    left: 0.5rem;
  }
  /* line 308, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    max-width: 20rem;
    right: 6.5rem;
    bottom: 21.6rem;
  }
  /* line 313, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    max-width: 27rem;
    right: 6.3rem;
  }
}

@media (max-width: 330px) {
  /* line 322, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image {
    margin-right: -6.5rem;
  }
  /* line 324, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image h2 {
    font-size: 2.9rem;
  }
  /* line 328, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .card-back {
    right: 5.5rem;
  }
  /* line 331, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-hero.scss */
  .s-hero .area-image .image .circle-card {
    right: 5.3rem;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon {
  padding-top: 12.9rem;
}

/* line 3, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* line 5, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area {
  width: 100%;
  max-width: 27.7rem;
}

/* line 8, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .ilustra-mockup {
  width: 100%;
  max-width: 27.7rem;
  position: relative;
  margin-bottom: 12.9rem;
}

/* line 14, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .ilustra-mockup .circle {
  position: absolute;
  z-index: -1;
  max-width: 37.7rem;
  top: 8.4rem;
  left: -21.4rem;
}

/* line 22, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 27, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text .icon {
  position: relative;
}

/* line 29, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text .icon:before {
  content: "";
  width: 0.5rem;
  height: 8.3rem;
  background: url(".././img/points.svg") no-repeat center center;
  position: absolute;
  top: -10.4rem;
  left: 50%;
  margin-left: -0.25rem;
}

/* line 39, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text .icon img {
  margin-bottom: 3.6rem;
}

/* line 43, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text .info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 47, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text .info-text h3 {
  text-align: center;
  color: #33303e;
}

/* line 51, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text .info-text p {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: rgba(95, 92, 107, 0.8);
  margin-bottom: 2.6rem;
}

/* line 61, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .left-area .text .info-text ul li:not(:last-child) {
  margin-bottom: 1.341rem;
}

/* line 69, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area {
  width: 100%;
  max-width: 80rem;
}

/* line 72, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text {
  margin-bottom: 14.4rem;
}

/* line 74, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text h2 {
  max-width: 48.8rem;
  color: #33303e;
  margin-bottom: 4.9rem;
}

/* line 80, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(225, 224, 231, 0.9);
  padding: 3.3rem 0;
}

/* line 84, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text ul li:first-child {
  padding-top: 0;
}

/* line 87, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text ul li:last-child {
  margin-bottom: 3.2rem;
}

/* line 90, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text ul li .info {
  display: flex;
}

/* line 92, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text ul li .info .text {
  margin-left: 4.3rem;
}

/* line 94, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text ul li .info .text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #5f5c6b;
}

/* line 102, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text ul li .info .text p {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 150%;
  color: #7a7786;
}

/* line 112, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text .btn {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 112%;
  letter-spacing: -0.5px;
  color: #0073ce;
}

/* line 120, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .main-text .btn:after {
  content: "";
  position: absolute;
  right: -1.8rem;
  bottom: 0;
  width: 1rem;
  height: 0.3rem;
  background-color: #ffc800;
}

/* line 131, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card {
  width: 100%;
  height: 41rem;
  background: url(".././img/bg-box-card-neon.svg") no-repeat center center;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5.9rem;
}

/* line 138, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card .text {
  width: 100%;
  max-width: 38rem;
}

/* line 141, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card .text h2 {
  color: #ffffff;
  margin-bottom: 1.1rem;
}

/* line 145, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card .text h3 {
  width: 100%;
  max-width: 32.7rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
}

/* line 151, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card .text p {
  width: 100%;
  max-width: 32.7rem;
  font-size: 1.6rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 0.7rem;
}

/* line 159, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card .text .buttons {
  display: flex;
  align-items: center;
}

/* line 163, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card .text .buttons button:last-child {
  margin-left: 1.6rem;
}

/* line 169, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
.s-card-neon .container .right-area .box-card .image {
  margin-right: -3.1rem;
}

@media (max-width: 1200px) {
  /* line 179, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .left-area .ilustra-mockup .circle {
    display: none;
  }
  /* line 186, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area {
    max-width: 73rem;
  }
  /* line 192, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text ul li .info .text {
    margin-left: 2rem;
  }
  /* line 199, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card {
    padding-left: 3.5rem;
  }
  /* line 201, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .image {
    margin-right: -1.1rem;
  }
}

@media (max-width: 991px) {
  /* line 210, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container {
    flex-direction: column-reverse;
  }
  /* line 212, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .left-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 79.35%;
    margin: 0 auto;
  }
  /* line 218, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .left-area .ilustra-mockup {
    max-width: 25rem;
    margin-bottom: 0;
  }
  /* line 222, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .left-area .text {
    max-width: 27rem;
  }
  /* line 226, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area {
    max-width: 100%;
    margin-bottom: 9.8rem;
  }
  /* line 229, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text {
    margin-bottom: 5.6rem;
  }
  /* line 231, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text h2 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5.3rem;
    font-size: 3.6rem;
  }
  /* line 237, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text .btn {
    display: block;
    text-align: center;
  }
  /* line 240, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text .btn:after {
    display: none;
  }
  /* line 245, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card {
    max-width: 94.7%;
  }
  /* line 247, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .image {
    margin-right: -4rem;
  }
}

@media (max-width: 600px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon {
    padding-top: 6rem;
  }
  /* line 258, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .left-area {
    max-width: 95%;
    gap: 5rem;
    padding-top: 1rem;
  }
  /* line 265, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text h2 {
    margin-top: 5rem;
  }
  /* line 269, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card {
    max-width: 100%;
    height: 47rem;
    background-size: cover;
    flex-direction: column;
    padding-top: 4.3rem;
    padding-left: 0;
    margin-bottom: 4rem;
  }
  /* line 277, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .image {
    margin-right: 0;
  }
  /* line 280, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .text {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  /* line 286, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .text p {
    text-align: center;
  }
}

@media (max-width: 540px) {
  /* line 299, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text h2 {
    margin-top: 10rem;
  }
}

@media (max-width: 480px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon {
    position: relative;
  }
  /* line 309, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon:after {
    content: "";
    width: 100%;
    height: 21.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #f7f7fa 0%, rgba(242, 247, 250, 0) 100%);
    z-index: -1;
    transform: matrix(1, 0, 0 -1, 0, 0);
  }
  /* line 325, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .left-area {
    flex-direction: column-reverse;
    padding-top: 6rem;
  }
  /* line 328, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .left-area .ilustra-mockup {
    height: 45.3rem;
    overflow: hidden;
  }
  /* line 336, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text ul li {
    padding: 2.8rem 0;
  }
  /* line 338, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text ul li .info {
    align-items: flex-start;
  }
  /* line 340, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text ul li .info .text {
    max-width: 75%;
  }
  /* line 342, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text ul li .info .text h3 {
    font-size: 2rem;
  }
  /* line 345, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .main-text ul li .info .text p {
    font-size: 1.4rem;
  }
  /* line 354, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card h2 {
    font-weight: 600;
    font-size: 2.8rem;
  }
  /* line 358, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card h3 {
    font-size: 2rem;
    text-align: center;
  }
  /* line 363, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .text p {
    max-width: 25.3rem;
    margin-bottom: 3.4rem;
  }
  /* line 368, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .text .buttons .btn-primary {
    padding: 0 3rem;
  }
}

@media (max-width: 375px) {
  /* line 382, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-card-neon.scss */
  .s-card-neon .container .right-area .box-card .image {
    width: 28rem;
  }
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos {
  padding-top: 13.4rem;
}

/* line 4, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
}

/* line 7, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .top h2 {
  width: 100%;
  max-width: 71rem;
}

/* line 10, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .top h2 span {
  display: block;
  color: #c6c5ce;
  margin-bottom: 1.4rem;
}

/* line 16, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .top .swiper-pagination {
  position: relative;
  text-align: right;
  bottom: 0;
  width: auto;
}

/* line 21, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .top .swiper-pagination .swiper-pagination-bullet {
  background: #ffc800;
  opacity: 0.3;
  border-radius: 1.2rem;
  transition: all 0.3s;
}

/* line 26, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .top .swiper-pagination .swiper-pagination-bullet:not(:first-child) {
  margin-left: 0.4rem;
}

/* line 29, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .top .swiper-pagination .swiper-pagination-bullet-active {
  width: 17.3px;
  opacity: 1;
}

/* line 36, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
.s-depoimentos .container .slide-depoimentos {
  overflow: hidden;
}

@media (max-width: 1000px) {
  /* line 42, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos .container .top {
    flex-direction: column;
    align-items: center;
  }
  /* line 45, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos .container .top h2 {
    text-align: center;
    margin-bottom: 3.1rem;
  }
}

@media (max-width: 480px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos {
    padding-top: 7.6rem;
  }
  /* line 55, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos .container {
    padding: 0;
  }
  /* line 57, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos .container .top {
    margin-bottom: 3.4rem;
  }
  /* line 59, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos .container .top h2 {
    font-size: 2.8rem;
    font-weight: 600;
    max-width: 70%;
    margin-bottom: 3.4rem;
  }
  /* line 64, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos .container .top h2 span {
    margin-bottom: 1.1rem;
  }
  /* line 69, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-depoimentos.scss */
  .s-depoimentos .container .slide-depoimentos {
    padding: 0 2rem;
  }
}

/* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital {
  padding-top: 12.7rem;
  padding-bottom: 8.5rem;
}

/* line 4, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container {
  display: flex;
  align-items: center;
}

/* line 7, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text {
  width: 100%;
  max-width: 54.2rem;
}

/* line 10, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text h2 {
  color: #33303e;
  margin-bottom: 4.5rem;
}

/* line 13, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text h2 span {
  display: block;
  color: rgba(198, 197, 206, 0.8);
  margin-bottom: 0.9rem;
}

/* line 19, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text ul {
  margin-bottom: 6.1rem;
}

/* line 21, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text ul li {
  display: flex;
  align-items: center;
}

/* line 24, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text ul li:not(:last-child) {
  margin-bottom: 4.5rem;
}

/* line 27, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text ul li .icon {
  width: 4.5rem;
  height: 4.5rem;
  background: #00d7d7;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2.6rem;
}

/* line 36, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text ul li .info h4 {
  margin-bottom: 0.4rem;
  color: #5f5c6b;
}

/* line 40, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .text ul li .info p {
  font-size: 1.8rem;
  line-height: 150%;
  color: #7a7786;
}

/* line 49, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .image {
  position: relative;
  width: 100%;
  max-width: 71.2rem;
  height: 59.8rem;
  margin-right: -3.8rem;
  left: 12.5rem;
}

/* line 56, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .image img {
  position: absolute;
}

/* line 58, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .image img.mockup-01 {
  left: 0;
  bottom: 4.7rem;
  z-index: 2;
}

/* line 63, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .image img.mockup-02 {
  top: 3;
  left: 25.8rem;
  z-index: 2;
}

/* line 68, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
.s-conta-digital .container .image img.circle {
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media (max-width: 1000px) {
  /* line 77, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container {
    flex-direction: column;
    align-items: center;
  }
  /* line 80, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 85, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text h2 {
    max-width: 80%;
    text-align: center;
  }
  /* line 90, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image {
    margin-right: 0;
    left: 0;
    margin-top: 5rem;
  }
  /* line 94, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.circle {
    right: -4.6rem;
  }
}

@media (max-width: 900px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital {
    padding-top: 8.6rem;
    padding-bottom: 8.1rem;
  }
  /* line 105, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text {
    max-width: 100%;
    margin-bottom: 2.5rem;
  }
  /* line 110, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.circle {
    right: -0.6rem;
  }
}

@media (max-width: 700px) {
  /* line 119, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image {
    max-width: 58.2rem;
    height: 63.3rem;
  }
  /* line 123, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.circle {
    width: 100%;
  }
  /* line 127, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.mockup-01 {
    z-index: 2;
  }
  /* line 131, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.mockup-02 {
    z-index: 2;
  }
}

@media (max-width: 480px) {
  /* line 1, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital {
    padding-top: 5.7rem;
    padding-bottom: 7.2rem;
  }
  /* line 144, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text h2 {
    max-width: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 3.9rem;
  }
  /* line 149, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text h2 span {
    font-size: 2.4rem;
    font-weight: 600;
  }
  /* line 154, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text ul {
    margin-bottom: 4.4rem;
  }
  /* line 156, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text ul li {
    flex-direction: column;
    align-items: center;
  }
  /* line 159, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text ul li:not(:last-child) {
    margin-bottom: 5.6rem;
  }
  /* line 162, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text ul li .icon {
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
  /* line 167, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text ul li .info h4 {
    text-align: center;
    max-width: 32rem;
  }
  /* line 171, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .text ul li .info p {
    text-align: center;
    font-size: 1.4rem;
    max-width: 21rem;
    margin: 0 auto;
  }
  /* line 181, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image {
    max-width: 35.7rem;
    height: 46.9rem;
  }
  /* line 185, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.mockup-01 {
    max-width: 16.8rem;
    top: 5.8rem;
    left: 0;
    bottom: initial;
  }
  /* line 191, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.mockup-02 {
    max-width: 16.8rem;
    top: 0;
    right: 0;
    left: initial;
  }
}

@media (max-width: 325px) {
  /* line 206, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.mockup-01 {
    max-width: 15.5rem;
  }
  /* line 209, ../Users/archi/OneDrive/Documentos/GitHub/Codeboost/Neon/scss/_home-s-conta-digital.scss */
  .s-conta-digital .container .image img.mockup-02 {
    max-width: 15.5rem;
  }
}

/*# sourceMappingURL=main.css.map */