.s-depoimentos {
  padding-top: 13.4rem;
  .container {
    .top {
      @include flex(row, flex-end, space-between);
      margin-bottom: 4rem;
      h2 {
        width: 100%;
        max-width: 71rem;
        span {
          display: block;
          color: $cor34;
          margin-bottom: 1.4rem;
        }
      }
      .swiper-pagination {
        position: relative;
        text-align: right;
        bottom: 0;
        width: auto;
        .swiper-pagination-bullet {
          background: $cor20;
          opacity: 0.3;
          border-radius: 1.2rem;
          transition: all 0.3s;
          &:not(:first-child) {
            margin-left: 0.4rem;
          }
          &-active {
            width: 17.3px;
            opacity: 1;
          }
        }
      }
    }
    .slide-depoimentos {
      overflow: hidden;
    }
  }
  @include responsive(1000px) {
    .container {
      .top {
        flex-direction: column;
        align-items: center;
        h2 {
          text-align: center;
          margin-bottom: 3.1rem;
        }
      }
    }
  }

  @include responsive(480px) {
    padding-top: 7.6rem;
    .container {
      padding: 0;
      .top {
        margin-bottom: 3.4rem;
        h2 {
          font-size: 2.8rem;
          font-weight: 600;
          max-width: 70%;
          margin-bottom: 3.4rem;
          span {
            margin-bottom: 1.1rem;
          }
        }
      }
      .slide-depoimentos {
        padding: 0 2rem;
      }
    }
  }
}
