h1 {
  font-weight: 600;
  font-size: 6.4rem;
  @include responsive(1150px) {
    font-size: 5rem;
  }

  @include responsive(500px) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 150%;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  line-height: 112%;
}

h1,
h2 {
  line-height: 112%;
  letter-spacing: -1px;
}

h3,
h4 {
  font-weight: 500;
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: $cor31;
}
