// Cores

//Escala Azul
$cor10: #0073ce;
$cor11: #00a5f0;
$cor12: #00d7d7;
$cor13: linear-gradient(99.31deg, #00a5f0 7.94%, #00d7d7 95.32%);

//Escala Amarelo
$cor20: #ffc800;
$cor21: #855b35;
$cor22: #ffdc5c;

//Escala Cinza
$cor30: #33303e;
$cor31: #4e4b59;
$cor32: #5f5c6b;
$cor33: #7a7786;
$cor34: #c6c5ce;
$cor35: #f1f0f5;
$cor36: #ffffff;
$cor37: rgba(241, 240, 245, 0.55);
